body{
    background:linear-gradient(yellow,rgb(9, 247, 9));
    text-align: center;
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 23px;
}
#webcam{
 height: 400px; 
 width:400px ;  
 border: 2px black solid;
 border-radius: 4px;
}